/* Base styles for desktop */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.MainSignup {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #dbba00, #966e09); /* Gradient background */
}

.form-box {
    width: 630px; /* Adjusted width for better form control */
    padding: 40px; /* Consistent padding for a compact look */
    background: rgba(255, 255, 255, 0.8); /* Slightly more opacity for better readability */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Softer shadow for subtlety */
    border-radius: 10px;
    backdrop-filter: blur(10px); /* Reduced blur for clearer text */
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px; /* Reduced margin for tighter headline */
}

form {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-box {
    position: relative;
    flex: 1;
    margin: 5px 10px;
}

.input-box input, .input-box select {
    width: 100%;
    padding: 10px 10px 10px 40px;
    outline: none; 
    border: none;
    border-bottom: 2px solid #6a6a6a;
    background: transparent;
    transition: border-color 0.3s;
    font-size: 16px;
    font-weight: 600;
}
.input-box select{
    padding-left: 10px;
}

.input-box input:focus, .input-box select:focus {
    border-color: #000000; /* Focus color change for better visibility */
}

.input-box label {
    position: absolute;
    left: 40px;
    top: 12px;
    transition: all 0.3s;
    pointer-events: none;
    color: #999;
    font-size: 16px;
}

.input-box input:focus + label, .input-box input:not(:placeholder-shown) + label {
    top: -10px;
    font-size: 12px;
    color: #000000;
}

.icon {
    position: absolute;
    top: 10px;
    left: 10px; /* Icon inside the input */
    color: #666;
}

.btn {
    width: 100%;
    padding: 10px;
    margin-top: 16px;
    background-color: #162938; /* Consistent theme color for the button */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.btn:disabled,.btn:disabled:hover {
    background-color: #8d8d8d;
    cursor: not-allowed;
}

.btn:hover {
    background-color: #0a1c28; /* Darker shade on hover for visual feedback */
}

.login-register {
    text-align: center;
    margin-top: 12px; /* Additional margin for better spacing */
}

.login-register a {
    color: #162938;
    text-decoration: none;
}

.login-register a:hover {
    text-decoration: underline; /* Underline on hover for links */
}

/* Responsive styles */
@media (max-width: 768px) {
    .form-box {
        width: 80%; /* Full width with padding on smaller screens */
        padding: 20px; /* Reduced padding for smaller screens */
    }

    h2 {
        font-size: 24px; /* Adjusted font size for smaller screens */
    }

    .input-box input, .input-box select {
        font-size: 14px; /* Smaller font size for inputs and selects */
    }

    .input-box label {
        font-size: 14px; /* Smaller font size for labels */
    }

    .btn {
        font-size: 14px; /* Smaller font size for the button */
    }
}

@media (max-width: 480px) {
    .form-box {
        width: 70%; /* Almost full width on very small screens */
        padding: 15px; /* Further reduced padding */
    }
    .row {
        flex-direction: column;
    }
    .row .input-box {
        margin-bottom: 10px;
    }

    h2 {
        font-size: 20px; /* Further reduced font size for the headline */
    }

    .input-box input, .input-box select {
        font-size: 12px; /* Further reduced font size */
    }

    .input-box label {
        font-size: 12px; /* Further reduced font size */
    }

    .btn {
        font-size: 12px; /* Further reduced font size for the button */
    }
}
